<div class="container">
  <div class="row">
    <div class="col-sm-10 offset-sm-1">

      <div class="posts">
        <% @posts.each do |post| %>
        <div class="post clearfix">
          <div class="post-details">
            <span class="post-title"><%= link_to post.title, post %></span> <br>
            <span class="post-body"><%= post.body %></span>
          </div>
          <div class="post-comments">
            <span class="material-icons">mode_comment</span>
            <span class="comment-count"><%= post.comments.count %></span>
          </div>
        </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
