<div class="container">
  <div class="row">
    <div class="col-sm-6 offset-sm-3">
			<h1>Nuevo Post</h1>    	
  	</div>
	</div>
</div>


<%= render 'form', post: @post %>

<br>

<div class="container">
  <div class="row">
    <div class="col-sm-6 offset-sm-3">
			<%= link_to 'Volver', posts_path, class: "badge badge-info" %>
  	</div>
	</div>
</div>


